altair==4.2.2  # Or use the version you need
anyio==3.7.1  # Or the version you need
appnope==0.1.3  # Or the version you need
argon2-cffi==21.3.0  # Or the version you need
aexecuting: 2.1.0
ipython: 8.31.0
matplotlib: 3.10.0
numpy: 1.26.4
wcwidth==0.2.13
wheel==0.44.0
xgboost==2.1.3
